# Salida de compilación
build/
bin/
lib/
out/
.cache/
.github/

# Archivos generados por CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Archivos de objetos compilados
*.slo
*.lo
*.o
*.obj

# Encabezados precompilados
*.gch
*.pch

# Bibliotecas dinámicas compiladas
*.so
*.dylib
*.dll

# Archivos de módulo de Fortran
*.mod
*.smod

# Bibliotecas estáticas compiladas
*.lai
*.la
*.a
*.lib

# Ejecutables
*.exe
*.out
*.app

# Archivos específicos del IDE
.vscode/
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.swp
*~

# Archivos generados por el sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos de depuración
*.dSYM/
*.su
*.idb
*.pdb

# Archivos LLVM IR (si se generan como salida intermedia)
*.ll

# Archivos específicos del usuario
*.user
*.userosscache
*.sln.docstates

# Archivos de pruebas y registros generados por CTest
Testing/